<ul class="nav nav-pills">
  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li role="presentation" routerLinkActive = "active" ><a class="page - scroll" [routerLink]="['/habilidades']" >Habilidades</a>
        
     </li>
     <li role="presentation" routerLinkActive = "active" ><a class="page - scroll" [routerLink]="['/metas']" >Metas</a>
      
   </li>
  
   <li role="presentation" routerLinkActive = "active" ><a class="page - scroll" [routerLink]="['/logros']" >Logros</a>
    
 </li>

 <li role="presentation" routerLinkActive = "active" ><a class="page - scroll" [routerLink]="['/proyectos']" >Proyectos</a>
  
</li>
  
</ul>